.list-group-item {
	background-color: transparent !important;
	color: white;
	margin-top: -10px;
	border: none !important;
}
/* #aboutMe1 .list-group-item {
	background-color: transparent !important;
	color: white;
} */
/* .in-view {
	display: block !important;
} */
/* .animation-element {
	display: none;
} */
/* #about {
	height: 100vh;
} */
/* .page-section .row .aboutMe:hover {
	background-color: rgba(75, 71, 71, 0.753) !important;
	color: black !important;
} */
.aboutHead {
	color: white !important;
	text-shadow: 1px 1px 3px rgb(0, 179, 255) ;
}
.about-active {
	background-color: rgba(255, 255, 255, 0.349) !important;
	border-radius: 5%;
	z-index: 999 !important;
}
.cus-tbl th {
	text-align: center !important;
	/* padding: 0 !important; */
	color: white !important;
	text-shadow: 1px 1px 3px rgb(0, 179, 255) ;
}
.cus-tbl td {
	text-align: left !important;
	padding-left: 5% !important;
	color: white !important;
	text-shadow: 1px 1px 3px rgb(0, 179, 255) ;
}
.cus-tbl-codes th, td {
	color: white !important;
	text-shadow: 1px 1px 3px rgb(0, 179, 255) ;
}
.cus-tbl-codes td {
	text-align:left !important;
}
#tblCodes i {
	color: white !important;
}
.card-custom {
	background-color: #343a4060 !important;
}
.card-img-top {
	width: 40% !important;
	margin: 0 auto !important;
}
.csm-divider {
	margin-top: -10px !important;
	height:50px;
	margin: 0 auto;
	border:3px solid rgb(228, 224, 224);
	border-radius:2px ;
}
.card-title {
	color: white !important;
	text-shadow: 1px 1px 3px rgb(0, 179, 255);
	text-align: center;
}
#achievement-section {
	color: black !important;
	background: #8e9eab;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar-toggler-icon {
	color: white !important;
}
@media only screen and (max-width: 424px)
{
	#myName {
		font-size: 0.9em;
	}
}
#socialAcc a{
	font-size: 30px;
	color: white !important;
	margin-left: 4px;
	margin-right: 4px;
}
@media only screen and (max-width: 600px)
{
	#russel {
		text-align: center !important;
	}
	#socialAcc {
		margin-top: 10px;
		text-align: center !important;
	}
	#socialAcc a{
		font-size: 30px;
		color: white !important;
		margin-left: 10px;
		margin-right: 10px;
	}
}
@media only screen and (min-width: 320px) and (max-width:425px){
	#carouselDesktopView {
		display: none !important;
	}
	#carouselMobileView {
		display: block !important;
	}
}
@media only screen and (min-width: 426px){
	#carouselDesktopView {
		display: block !important;
	}
	#carouselMobileView {
		display: none !important;
	}
}

#socialContact .col-lg-8 a{
	font-size: 3.0rem !important;
	color: #6c757d !important;
	text-shadow: 2px 2px 3px rgb(0, 243, 243);
	margin-left: 3%;
	margin-right: 3%;
}
#socialContact {
	margin-bottom: -8% !important;
	margin-top: 8% !important;
}
@media only screen and (max-width: 376px)
{
	#socialContact .col-lg-8 a{
		margin-left: 1%;
		margin-right: 1%;
	}
}

/* PRELOADER */
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@media only screen and (min-width: 992px)
{
	.loader {
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background: url('../img/loader.gif') 50% 50% no-repeat rgb(249,249,249);
	}
}
@media only screen and (max-width: 992px)
{
	.loader {
		/* border: 1px solid red; */
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background: url('../img/loader.gif') 50% 50% no-repeat rgb(249,249,249);
	}	
}
/* END OF PRELOADER */